<div class="container-fluid mt-3">
    <h5 class="fw-light">Bienvendio(a) a {{region}}, {{name}}</h5>
    <h2>Explora el mundo</h2>
    <h5 class="fw-light text-secondary">Descubre detalles sobre países y regiones</h5>

    <div class="row mt-4">
        <div class="col-12 col-md-3">
            <app-country-filter (filtersApplied)="countriesComponent.applyFilters($event)"></app-country-filter>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          @if (isAdmin) {
            <app-admin-country/>
          }
          @if(!isAdmin){
            <app-countries #countriesComponent regionName={{region}}></app-countries>
          }
        </div>
    </div>
</div>
    



