<div class="row d-flex flex-row justify-content-center">
  <div class="col-7">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pt-3 pb-3" style="font-weight: bold">Regiones</h5>
        <table class="table table-hover p-0 m-0">
          <thead class="text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Num. Países</th>
              <th scope="col">Num. Habitantes</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @for (region of regions; track region.region; let idx = $index) {
            <tr class="text-center">
              <th scope="row">{{ idx + 1 }}</th>
              <td>
                <label style="font-size: 12; font-weight: bold">{{
                  region.region
                }}</label>
              </td>
              <th>{{region.numCountries}}</th>
              <th>{{region.numPolutation | number}}</th>
              <td>
                <a [routerLink]="['/region', region.region]">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Ver mas..
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
